* {
	margin: 0px;
	padding: 0px;
	font-family: "Microsoft YaHei";
}

.container {
	width: 990px; /*减去了10px的左右边框*/
	overflow: hidden;
	border: 5px dotted green;
}

#firstPage {
	height: 1000px;
	width: 1000px;
	border: 1px dotted red;
	background-color: #22B573;
}

#navBar {
	height: 51px;
	width: 1000px;
	border: 1px dotted green;
	background-color: #42474B;
}

#secondPage {
	height: auto;
	width: 1000px;
	border: 1px dotted black;
	background-color: #1889C5;;
}

#thirdPage {
	height: auto;
	width: 1000px;
	border: 1px dotted red;
	background-color: #9C58B6;
}

#wanted {
	height: auto;
	border: 1px dotted green;
}

/*欢迎页面*/
#firstTitle {
	margin-top: 0px;
	text-align: center;
	font-size: 98px;
	color: white;
	border: 1px dotted white;
}
/*导航栏*/
#navBar header {
	padding-top: 12.5px;
}
#logo {
	display: inline;

}
#nav-Hyperlink {
	display: inline;
	float: right;
}
#nav-Hyperlink a {
	font-size: 16px;
	margin-left: 5px;
	margin-right: 5px;
	color: white;
	text-decoration: none;
}
#nav-Hyperlink a:hover {
	color: #999;
}
/*简介页面*/
#intro {
	color: white;
	margin-top: 200px;
}
#intro-list {
	display: inline;
	float: left;
	width: 300px;
	border: 1px dotted red;
	margin: 5px;
}
#intro-list span {
	text-align: right;
	width: 80px;
	display: inline-block;
}
#intro-text {
	display: inline;
	float: right;
	width: 600px;
	border: 1px dotted red;
	margin: 5px;
}
/*技能页面*/
#thirdPage {
	color: white;
}
#thirdPage .container {
	width: 100%;
	border: 1px dotted white;
}
#thirdPage h2 {
	padding-top: 20px;
	text-align: center;
}
.skill-table {
	display: inline-block;
	width: 130px;
	margin: 50px;
	border: 2px solid white;
	list-style-type: none;
	text-align: center;
	vertical-align: top;
}
#thirdPage .skillTitle {
	background-color: white;
	color: black;
}
#thirdPage li:hover {
    background-color: white;
    color: black;
}
/*邮箱*/